* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: tomato;
  cursor: help;
}
.dars-2 {
  width: 100%;
  max-width: 100px;
  height: 35px;
  background-color: blue;
}
.dars-2:hover {
  width: 100px;
  color: black;
  background-color: green;
  cursor: help;
}
.dars-2:active {
  color: aqua;
  cursor: pointer;
}
